.Login {
    height: 100vh !important;
    display: flex;
    background: deepskyblue;
}

.form {
    margin: auto !important;
    line-height: 1;
    text-align: left;
}

.Username {
    padding: 10px 0px;
}

.password {
    padding: 0px 0px 10px 0px;
}

.button{
    width: 100%;
    cursor: pointer;
}